body {
    margin: 0px;
    padding: 0px;
    background: rgb(122, 122, 122);
    color: rgb(255, 255, 255);
    padding: 70px 80px;
    height: 80vh;
    overflow: hidden;
    font-family: "Noto Sans", sans-serif;
}

body::before {
    content: "";
    background: rgb(252, 252, 252);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50em;
    transform: rotate(-60deg);
}

body::after {
    content: "ADIDAS";
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 100px;
    font-weight: bold;
    opacity: 0.9;

}

h1 {
    font-size: 60px;
}

p {
    font-size: 30px;
}

.logo {
    width: 100px;
    position: relative;
    top: -10%;
}


.carrinho {
    width: 100px;
}

.carrinho {
    background: rgb(37, 37, 37);
    padding: 10px 20px;
    border-radius: 20px;
    ;
    cursor: pointer;
    transition: 0.5s;
}

.carrinho:hover {
    opacity: 0.7;
}

.tenis {
    width: 500px;
    width: 500px;
    /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    /* Mantém a proporção da imagem */
    transform: scaleX(-1) rotate(25deg);
    /* Inverte horizontalmente e rotaciona */
    transition: transform 0.5s ease;
    filter: drop-shadow(30px 45px 40px rgb(0, 0, 0));
}


.troca-efeito {
    opacity: 0;
    transform: rotate(25deg) translate(30px, 0); 
transition: 0.8s;
}






.caixa-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75%;
    z-index: 1;
    position: relative;
}


.caixa-texto {
    max-width: 500px;
}

.caixa-botoes {
    z-index: 2;
    position: relative;
    display: flex;
    gap: 10px;
    top: 5%;
}

.botoes {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity 0.5s;
}

.botoes:active {
    opacity: 0.6;
    background: rgb(206, 205, 205);
    width: 35px;
    height: 35px;
    background-color: lightgrey;
    transition: 1s;
}

.cinza {
    background-color: rgb(122, 122, 122);
}

.rosa {
    background-color: rgb(252, 69, 130);
}

.espaço {
    background-color: rgb(0, 119, 255);
}

.tenis-img {
    width: 150px;
    /* Largura padrão para todas as imagens */
    height: 150px;
    /* Altura padrão para todas as imagens */
    object-fit: cover;
    /* Faz com que a imagem mantenha a proporção e se ajuste ao tamanho */
}